
$backgroundColor: #fff;
$hoverBackgroundColor: rgba(0, 0, 0, 0.03);
$borderColor: rgba(0, 0, 0, 0.12);
$fontColor: rgba(0, 0, 0, .87);
$borderRadius: 4px;
$primary: #1976d2;
$warning: #fb8c00;
$darkFontColor: #fff;
$boxShadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$padding: 12px;
$iconHeight: 24px;

// 屏幕
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

// 代码高亮
$codeBackground: #384548;
$stringColor: #abe338;
$keywordColor: #00e0e0;
$variableColor: #00e0e0;
$xmlNameColor: #0997F7;
$xmlAttrColor: #88E7FF;
$xmlAttrValueColor: gold;
$jsKeywordColor: #FA6BDD;
$jsNumberColor: #EEEE66;
